.login {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 450px;
    margin: 0 auto;
    color: $base-color;
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -2.41843px -2.41843px 120.921px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(7.5px);
    border-radius: 30px;
    @include flex(flex, column, flex-start, center, 20px);

    &__title {
        font-size: 30px;
        line-height: 36px;
        font-weight: 300;
        margin: 40px 0 20px 0;
    }

    &__text {
        font-size: 18px;
        font-weight: 300;
        line-height: 16px;
        margin-bottom: 20px;
    }

    &__form {
        width: 100%;
        padding: 0 60px;
        @include flex(flex, column, center, center, 10px);

        &__label {
            width: 100%;
            font-weight: 500;
        }

        &__input {
            font-size: 14px;
            width: 100%;
            padding: 14px 38px;
            border: none;
            border-radius: 8px;
            outline: none;
            border: none;
            color: $base-color;
            background: #0D0D0D;
        }

        &__password-link {
            margin-left: auto;
            color: $base-color;
            font-size: 13px;
            line-height: 15px;
        }

        &__btn-container {
            margin: 15px 0 10px 0;
            width: 100%;
            @include flex(flex, row, space-between, center, 0);

            &__register-btn {
                color: $base-color;
                font-size: 13px;
                line-height: 15px;
                background: none;
                border: none;
                cursor: pointer;
            }

            &__login-inner {
                position: relative;
                border: none;
                border-width: 1px;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: 55px;
                    padding: 1px;
                    background: linear-gradient(45deg, #0FF7F0, #D686FF);
                    -webkit-mask:
                        linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                }

                &__btn {
                    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
                    box-shadow: inset -3.32534px -3.32534px 166.267px rgba(255, 255, 255, 0.02);
                    backdrop-filter: blur(6.875px);
                    border-radius: 55px;
                    width: 170px;
                    height: 48px;
                    left: 728px;
                    top: 576px;
                    font-size: 14px;
                    color: $base-color;
                    border: none;
                }
            }
        }
    }

    &__footer-text {
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 1px;
        margin: 0 50px 20px 50px;
        text-align: center;

        &__link {
            color: $base-color;
            text-decoration: underline;
        }
    }

    &__close-btn {
        font-size: 22px;
        font-weight: 300;
        position: fixed;
        top: -5px;
        right: -5px;
        color: #ffffff46;
        cursor: pointer;
    }

}